<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_login</key>
	<dict>
		<key>modelClass</key>
		<string>user_login</string>
		<key>url</key>
		<string>user_login</string>
		<key>methodType</key>
		<string>POST</string>
	</dict>
</dict>
</plist>
